<!DOCTYPE html>
<html lang="en">
<title>LoR NetDeck Killer</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid p-3 my-3 .bg-light text-primary">
        <h1>LoR NetDeck Killer</h1>
        <h2>Step 2: Select enemy's deck</h2>
        <p>(Optional: Select enemy's champions to filter decks and press filter</p>
        <div class="champ_deck">
        <form class = 'champ_form' action="{{url_for('champ_select')}}" method="POST">
            <div class="champions">
                <div class="champion_1">
                    <p>Champion 1</p>
                    <select name="champion_1" id="champion_1" autocomplete="on">
                        {% for champ in remaining_champs %}
                        <option value="{{champ}}"> {{champ}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="champion_2">
                    <p>Champion 2</p>
                    <select name="champion_2" id="champion_2" autocomplete="on">
                        {% for champ in remaining_champs %}
                        <option value="{{champ}}"> {{champ}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="champion_3">
                    <p>Champion 3</p>
                    <select name="champion_3" id="champion_3" autocomplete="on">
                        {% for champ in remaining_champs %}
                        <option value="{{champ}}"> {{champ}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="champion_4">
                    <p>Champion 4</p>
                    <select name="champion_4" id="champion_4" autocomplete="on">
                        {% for champ in remaining_champs %}
                        <option value="{{champ}}"> {{champ}} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <button class="champ_btn"> Filter </button>
        </form>
        <div class="container-fluid p-3 my-3 .bg-dark text-dark">
            {{tables | safe}}
        </div>
        </div>
    </div>
</body>

</html>