<!DOCTYPE html>
<html lang="en">
    <title>testing</title>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <div class="container-fluid p-3 my-3 bg-primary text-white">
            <h1>LoR NetDeck Killer</h1>
            <h2>Step 3: Win</h2>
            <form class="game_state" action="{{url_for('deck_filter', deck_code=deck_code)}}">
                <label for="turn">Select game round:</label>
                <input type="number" id="turn" name="turn" min="0" max="20" value={{round_num}}><br>
                <label for="mana">Select Enemy Mana</label>
                <input type="number" id="mana" name="mana" min="0" max="10" value={{mana}}><br>
                <label for="spellmana">Select Enemy Spell Mana</label>
                <input type="number" id="spellmana" name="spellmana" min="0" max="3" value={{spellmana}}><br>
                <input type="radio" id="all_cards" name="card_type" value="all_cards" {{all_checked}}>
                <label for="all_cards">All Cards</label><br>
                <input type="radio" id="fast" name="card_type" value="fast" {{fast_checked}}>
                <label for="fast">Fast+ Spells</label><br>
                <input type="radio" id="burst" name="card_type" value="burst" {{burst_checked}}>
                <label for="burst">Burst Spells</label><br>
                <input type="submit" value="Update">
              </form>
            <div class="container bg-light text-dark p-3 my-3 border">
                {{deck_table | safe}}
                {{r | safe}}
            </div>
        </div>
    </body>
</html>
