<!DOCTYPE html>
<html lang="en">
<title>LoR NetDeck Killer</title>

<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>
    <div class="container">
        <h1>LoR NetDeck Killer</h1>
        <h2>Step 1: Select enemy regions</h2>
        <p>Select at least 1 Region and click find:</p>
        <form action="{{url_for('deck_select')}}" method="POST">
        <div class="regions">
                <div class="region_1">
                    <p>Region 1</p>
                    <select name="region_1" id="region_1" autocomplete="on">
                        {% for region in regions %}
                        <option value="{{region}}"> {{region}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="region_2">
                    <p>Region 2</p>
                    <select name="region_2" id="region_2" autocomplete="on">
                        {% for region in regions %}
                        <option value="{{region}}"> {{region}} </option>
                        {% endfor %}
                    </select>
                </div>
        </div>
        <button class="find_btn"> Find </button>
        </form>
    </div>
</body>

</html>