<!DOCTYPE html>
<html lang="en">
<title>LoR NetDeck Killer</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid p-3 my-3 bg-primary text-white">
        <h1>LoR NetDeck Killer</h1>
        <h2>Step 1: Select enemy regions</h2>
        <p>Select at least 1 Region and click find:</p>
        <form action="{{url_for('region_select')}}" method="POST">
        <div class="regions">
                <div class="region_1">
                    <p>Region 1</p>
                    <select name="region_1" id="region_1" autocomplete="on">
                        {% for region in regions %}
                        <option value="{{region}}"> {{region}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="region_2">
                    <p>Region 2</p>
                    <select name="region_2" id="region_2" autocomplete="on">
                        {% for region in regions %}
                        <option value="{{region}}"> {{region}} </option>
                        {% endfor %}
                    </select>
                </div>
        </div>
        <button class="find_btn"> Find </button>
        </form>
    </div>
</body>

</html>